[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
uvicorn = "*"
pydantic = "*"
sqlalchemy = "*"
python-dotenv = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
